.enter {
  transition: all 100ms ease-out;
}

.enter-from {
  transform: scale(0.95);
  opacity: 0%;
}

.enter-to {
  transform: scale(1);
  opacity: 100%;
}

.leave {
  transition: all 75ms ease-out;
}

.leave-from {
  transform: scale(1);
  opacity: 100%;
}

.leave-to {
  transform: scale(0.95);
  opacity: 0%;
}
